/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/32b095");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #1E1F20;
  max-width: 1000px;
  margin: 0px auto; }

.ui-kit section {
  margin-bottom: 30px;
  margin: 30px 8%; }

.ui-category {
  color: #343536;
  margin-bottom: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #343536; }

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("webfonts/32B095_0_0.eot");
  src: url("webfonts/32B095_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/32B095_0_0.woff2") format("woff2"), url("webfonts/32B095_0_0.woff") format("woff"), url("webfonts/32B095_0_0.ttf") format("truetype"), url("webfonts/32B095_0_0.svg#wf") format("svg"); }
@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("webfonts/32B095_1_0.eot");
  src: url("webfonts/32B095_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/32B095_1_0.woff2") format("woff2"), url("webfonts/32B095_1_0.woff") format("woff"), url("webfonts/32B095_1_0.ttf") format("truetype"), url("webfonts/32B095_1_0.svg#wf") format("svg"); }
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("webfonts/32B095_2_0.eot");
  src: url("webfonts/32B095_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/32B095_2_0.woff2") format("woff2"), url("webfonts/32B095_2_0.woff") format("woff"), url("webfonts/32B095_2_0.ttf") format("truetype"), url("webfonts/32B095_2_0.svg#wf") format("svg"); }
h1, h2, h3, h4, h5, h6, a, .btn {
  font-family: Gilroy-Bold, Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff; }

.p1, .p2, .legal, .sm-label {
  font-family: Gilroy-Regular, Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff; }

h1, .h1 {
  font-size: 6.25rem; }

h2, .h2 {
  font-size: 5rem; }

h3, .h3 {
  font-size: 3rem; }

h4, .h4 {
  font-size: 2.5rem; }

h5, .h5 {
  font-size: 1.5rem; }

h6, a .h6, a, .p2 {
  font-size: 1rem; }

h1 {
  letter-spacing: -1px;
  line-height: 100px; }

h2 {
  letter-spacing: -1.49px;
  line-height: 66px; }

h3 {
  letter-spacing: -0.9px;
  line-height: 48px; }

h4 {
  letter-spacing: -0.4px; }

h5 {
  letter-spacing: -0.25px; }

a {
  color: #31a4de;
  letter-spacing: -0.41px;
  line-height: 32px;
  text-decoration: none;
  transition: color 0.2s ease-out; }
  a:hover {
    color: #1b78a8; }

.p1 {
  font-size: 1.3125rem;
  letter-spacing: -0.11px;
  line-height: 32px; }

.p2 {
  line-height: 22px; }

.legal {
  font-size: 0.875rem;
  color: #9b9b9b;
  line-height: 22px; }

.sm-label {
  font-size: 0.75rem;
  letter-spacing: -0.13px; }

.btn {
  font-size: 1.125rem;
  letter-spacing: .1rem; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  letter-spacing: .09rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  -moz-apperance: none;
  -webkit-appearance: none;
  padding: 16px 56px 15px;
  margin: 16px;
  /* Pseudo elements for icons */ }
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased; }
  .btn:hover {
    transition: background-color .2s ease-out; }

.btn-outline {
  color: #fbae8f;
  font-size: 1.125rem;
  border: 2px solid #fbae8f;
  text-transform: uppercase;
  background: #1E1F20; }
  .btn-outline:hover {
    transition: background .2s ease-out;
    background: #343536; }

.btn-rounded {
  border-radius: 100px; }

.btn-filled {
  background-color: #343536;
  font-size: 0.75rem;
  font-style: normal; }
  .btn-filled:hover {
    background: #343536; }

/* Icons */
.btn-icon-facebook:before {
  content: "\F09A";
  padding-right: 10px; }

.btn-icon-twitter:before {
  content: "\F099";
  padding-right: 10px; }

.btn-icon-apple:before {
  content: "\F179";
  padding-right: 10px; }

.btn-block {
  display: block; }

.dropdown {
  width: 300px;
  background: #1E1F20;
  margin: 40px auto; }

.form-group {
  margin-bottom: .25rem; }

.form-text {
  display: block;
  margin-top: .25rem; }

label {
  font-family: Gilroy-Regular, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75rem;
  margin-bottom: 16px;
  color: #fff; }

input {
  font-family: Gilroy-Bold, Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  margin: 16px 0px;
  padding: 14px 16px 12px;
  width: 290px;
  border: none;
  background-color: white;
  border-radius: 8px; }

.event {
  display: flex;
  margin: 32px auto;
  max-width: 400px;
  min-height: 226px;
  background-color: grey;
  background: linear-gradient(-180deg, transparent 40%, #000000 80%), #ffa949 url("../assets/img/superbowl.png") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .event {
      height: 420px;
      max-width: 720px; } }

.flex-end {
  align-items: flex-end; }

.event-info {
  height: 32px; }
  @media screen and (min-width: 768px) {
    .event-info {
      height: 64px;
      margin: 16px; } }

.event-info-container, .event-title-container {
  color: white;
  height: 32px;
  width: 50%; }
  @media screen and (min-width: 768px) {
    .event-info-container, .event-title-container {
      height: 64px;
      margin: 16px; } }

.event-title {
  height: 32px;
  margin-left: 8px;
  font-family: Gilroy-Bold, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.3125rem; }
  @media screen and (min-width: 768px) {
    .event-title {
      font-size: 2.5rem;
      margin: 16px; } }

.event-following, .event-friends {
  font-family: Gilroy-Regular, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  text-align: right;
  color: #9b9b9b;
  padding: 8px;
  float: right; }
  @media screen and (min-width: 768px) {
    .event-following, .event-friends {
      font-size: 1rem;
      padding: 0px 8px;
      margin: 16px 0px; } }

.activity {
  height: 64px;
  margin: 18px auto;
  background-color: #141515; }
  @media screen and (min-width: 768px) {
    .activity {
      max-width: 720px; } }

/*


*/
.user-image {
  height: 64px;
  width: 64px;
  float: left; }

.user-name {
  height: 24px;
  width: 160px;
  margin: 12px 0px;
  padding: 4px;
  float: left; }
  @media screen and (min-width: 768px) {
    .user-name {
      margin: 20px;
      width: auto; } }

.action {
  height: 64px;
  width: 80px;
  float: right; }

.action-icon {
  height: 32px;
  width: 48px;
  margin: 16px; }

.clip-circle {
  margin: 16px;
  position: absolute;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }
  .clip-circle img {
    display: block; }

/*# sourceMappingURL=app.css.map */
