//color

$tangerine: #fbae8f !default;
$darkblack: #141515 !default;
$darkgrey:  #343536 !default;
$lightgrey: #9b9b9b !default;
$black:     #1E1F20!default;
$blue:      #31a4de !default;
$white:     #fff !default;
